@forward 'components/theme';
@forward 'components/background';
@forward 'components/spacing';
@forward 'components/buttons';
@forward 'components/carousel';
@forward 'components/modal';
@forward 'components/section-title';
@forward 'components/breadcrumb';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'layout/header';
@forward 'layout/meanmenu';
@forward 'layout/slider';
@forward 'layout/_fact';
@forward 'layout/about';
@forward 'layout/blog';
@forward 'layout/footer';