@use '../utils' as *;

.tp-blog-item{
	transition: .3s;
	&:hover{
		& .tp-blog-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.tp-blog-img{
    position: relative;
}

.meta-date {
  color: #fff;
  font-size: 40px;
  margin: 0;
  line-height: 1;
  display: block;
}
.tp-meta-month {
  font-size: 14px;
  color: #fff;
  margin: 0;
  display: in;
}
.tp-blog-meta {
	display: inline-block;
	background: #3c8599;
	height: 80px;
	width: 80px;
	text-align: center;
	line-height: 80px;
	position: absolute;
	right: 30px;
	bottom: -40px;
	align-items: center;
}
.tp-latest-blog-meta span {
	color: #bfbfbf;
	font-weight: bold;
	font-size: 16px;
}
.tp-latest-blog-meta a {
	color: #3c8599;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
.tp-latest-title {
	font-size: 20px;
	margin: 15px 0;
}
.tp-feed-link a {
	font-size: 14px;
	color: #b6b6b6;
	display: inline-block;
	transition: .3s;
}
.tp-feed-link i {
	margin-left: 10px;
}
.tp-feed-link{
	&:hover{
		& a{
			color:var(--tp-theme-1)
		}
	}
}