@use '../utils' as *;



.happy-user {
	color: #fff;
	font-size: 120px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #282828;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	display: inline-block;
	transform: translateY(-50%);
}