@use '../utils' as *;

/*----------------------------------------*/
/*  02. HEADER CSS START
/*----------------------------------------*/
.notification-text {
    & p {
        color: #fff;

        & b {
            color: #ffb614;
        }
    }
}

.tp-main-menu {
    & ul {
        & li {
            display: inline-block;
            margin: 0 18px;
            position: relative;

            &.has-dropdown > {
                & a {
                    &:after {
                        content: "\2b";
                        font-family: var(--tp-ff-fontawesome);
                        font-size: 14px;
                        color:var(--tp-p)
                    }
                }
            }

            & a {
                font-size: var(--tp-fz-body);
                font-weight: var(--tp-fw-bold);
                color: var(--tp-common-black);
                padding: 40px 0;
                display: block;
                line-height: 1;
                

            }

            &:hover> {
                & a {
                    color: var(--tp-theme-1);
                }
            }

            & .submenu {
                position: absolute;
                width: 220px;
                background: var(--tp-common-black);
                padding: 30px;
                top: 105%;
                left: 0;
                text-align: left;
                transition: .3s;
                visibility: hidden;
                opacity: 0;
                z-index: 5;

                & li {
                    display: block;
                    margin: 0;
                    margin-bottom: 15px;

                    & a {
                        color: var(--tp-common-white);
                        padding: 0;
                    }

                    &:hover>a {
                        color: var(--tp-theme-1)
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }

            &:hover> {
                & .submenu {
                    top: 100%;
                    visibility: visible;
                    opacity: 1;

                }
            }
        }
    }
}
.header-right {
    display: flex;
    justify-content: end;
    align-items: center;
}
.tp-header-icon {
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 10px;
    display: inline-block;
}