@use '../utils' as *;

/*----------------------------------------*/
/*  00. SLIDER CSS START
/*----------------------------------------*/
.tp-slider-height {
	min-height: 810px;
}
.tp-slider-item {
	background-size: cover;
	background-position: center;
}

.tp-slider-content {
	& span {
		&.tp-slider-subtitle {
			color: var(--tp-common-white);
			background: var(--tp-theme-1);
			text-transform: uppercase;
			padding: 4px 10px;
			font-size: var(--tp-fw-bold);
			display: inline-block;
			margin-bottom: 20px;
		}

	}
}
.tp-slider-title {
	font-size: 70px;
	line-height: 1.1;
}
.tp-slider-content {
	& p {
	color: #696868;
	font-size: 17px;
	line-height: 28px;
}
}
.tp-slide-service {
	display: flex;
	align-items: center;
	& h4 {
	color: var(--tp-theme-1);
	font-size: 48px;
	margin-bottom: 0;
	margin-right: 10px;
	line-height: 1;
	}
	& span{
		font-size: 14px;
		color:var(--tp-heading-primary);
		line-height: 18px;
	}
}

.slick-active .tp-slider-subtitle{
	-webkit-animation-delay: 0.3s;
	animation-delay: .3s;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}
.slick-active .tp-slider-title{
	-webkit-animation-delay: 0.5s;
	animation-delay: .5s;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}
.slick-active .tp-slider-content p{
    -webkit-animation-delay: 0.7s;
	animation-delay: .7s;
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
}
.slick-active .tp-slider-btn-box{
	-webkit-animation-delay: 0.9s;
	animation-delay: .9s;
	-webkit-animation-duration: .9s;
	animation-duration: .9s;
}

.slick-active .tp-slider-subtitle, .slick-active .tp-slider-title, .slick-active .tp-slider-content p, .slick-active .tp-slider-btn-box{
-webkit-animation-name:fadeInUp;
animation-name: fadeInUp;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.slider-active {
	& button {
	position: absolute;
	left: 40px;
	top: 50%;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background: var(--tp-heading-primary);
	border: 1px solid var(--tp-heading-primary);
	color:var(--tp-common-white);
	border-radius: 50%;
	z-index: 99;
	transform: translateY(-50%);
	&.slick-next{
		left: auto;
		right: 40px;
	}
}
}
